// body{
//     background: rgb(202,230,233);
// background: linear-gradient(0deg, rgba(202,230,233,1) 38%, rgba(255,255,255,1) 100%);
// }

.grid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: aqua;
}
.post{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: pink;
    width: 100%;
}
