
    // body{
    //     background: rgb(202,230,233);
    // background: linear-gradient(0deg, rgba(202,230,233,1) 38%, rgba(255,255,255,1) 100%);
    // }

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newpost{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}