.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newpost{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}