@import url('https://fonts.cdnfonts.com/css/bukhari-script');
.logo {
    text-decoration: none;
    color:white ;
    &:hover{
        color:oldlace;
        text-decoration-line: underline;
    }
    // h2{
    //     color: white;
    // }
    // Link{
    //     text-decoration-color:white ;
    //     text-decoration: none;
    //     text-emphasis-color: yellow;
    // }
}