.card {
  width: 45vw;
  margin: 15px;
//   background: rgb(218,251,255);
// background: linear-gradient(180deg, rgba(218,251,255,1) 38%, rgba(255,255,255,1) 100%);
}

.input[type=text] {
  width: 90%;
  height: 22px;
}
.comment{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2px;
}